.signUp_container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 2em auto;
  padding: 3em;
  align-items: center;
}

.signUp_container h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.signUp_container p {
  margin-bottom: 2em;
}
